.mainContainer {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color:#0e1012;
    color: #A0AABA;
    padding-top: 120px;
    padding-bottom: 90px;
    text-align: center;
}

.imageContainer{
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    max-width: 3000px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .imageContainer{
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .mainContainer {
        padding-bottom: 60px;
    }
}