.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    opacity: 0.9;
}


.mainContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.textFirst{
    color: rgb(23, 139, 23);
    font-size: 30px;
}

.textSecond{
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.btnContainer{
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button {
    background-color: rgb(23, 139, 23);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    font-weight: 700;
    border: none;
  }


@media (max-width: 768px) {
    .textFirst{
        color: rgb(23, 139, 23);
        font-size: 22px;
    }

    .textSecond{
        color: rgb(255, 255, 255);
        font-size: 42px;
    }
    .btnContainer{
        flex-direction: column;
       
    }
  
}
