.mainHeading{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
}

.mainParagraph{
   
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}

@media (max-width: 768px) {
    .mainHeading{
        font-size: 50px;
        text-align: center;
    }

    .mainParagraph{
        padding: 20px;
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        color: rgb(150, 150, 150);
    }
}