.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
  }
  
  .logo img {
    width:auto; /* Adjust according to your image size */
    max-width: 300px;
  }
  
 

  .navigation {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: white;
  }
  
  .navigation ul li {
    margin-right: 20px; /* Adjust as needed */
  }
  
  .navigation ul li:last-child {
    margin-right: 0;
  }
  
  .navigation ul li a {
    text-decoration: none;
    margin-right: 10px; /* Adjust as needed */
    color: white;
  }
  
  .navigation ul li a:hover {
    color: #007bff; /* Adjust as needed */
  }









