.mainContainer {
    text-align: center;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    display: flex;
    position: relative;
}



.mainHeading{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
}

.mainParagraph{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}


.video {
    display: flex;
    position: relative;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}




@media (max-width: 768px) {
    .mainHeading{
        font-size: 50px;
        text-align: center;
    }

    .mainParagraph{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .video {
        max-width: 90%;
    }

    
}